@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', serif;
}




// generales


// Animaciones

@keyframes move {
    30% {
        // transform: translate(0);
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translate(0);
        opacity: 100%;
    }

}

// Mixins
@mixin Btn {
    background-color: black;
}


/*  320px */

/* Header - Nav */


.HeaderInicio {
    // content: "";
    background: url(/assets/birmingham-museums-trust-hcXPIKsC2PM-unsplash-min.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
}

h1 {
    color: rgba(255, 255, 255, 0.753);
    margin-top: 10px;
    font-weight: 400;
    transform: translateX(-100%);
    // text-shadow: 2px 2px 2px black;
    animation: move 1s 2s forwards;
}

figure {
    position: relative;
    top: 80px;
    margin-left: 120px;
    transform: translateY(-400%);
    animation: move 1s 3s ease-out forwards;

    figcaption {
        color: rgba(255, 255, 255, 0.753);
        // text-shadow: 2px 2px 2px black;

    }

    .Auguste {
        display: flex;
        justify-content: end;
        margin-right: 25px;
        color: rgba(255, 255, 255, 0.753);
        // text-shadow: 2px 2px 2px black;
        font-size: 16px;
    }
}

.linkLogo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60px;

    .Logo {
        height: 70px;
        width: 50px;
    }

}


.icon {
    color: rgb(255, 255, 255);
    position: relative;
    top: -40px;
    font-size: 1.3em;
    margin-left: 12px;
}

.ContainerWeb {
    display: none;
}

.container {
    height: 70px;
}

.NavList {
    position: relative;
    top: -30px;
    margin-top: 10px;
    padding-top: 10px;
    z-index: 999;
    // background: url(/assets/Recurso\ 2CambioImagen.png);
    background-color: rgba(0, 0, 0, 0.301);
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: 2s all;

    li {
        margin-top: 10px;
        text-align: center;
        list-style: none;
        padding: 30px;
    }

    li a {
        text-decoration: none;
        color: white;
    }

    .NavImg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        // z-index: -1;
    }
}

.validar {
    display: none;
}

#check:checked~.NavList {
    transform: translateX(0);
}

// Seccion Galeria Homepage

.Galeria h2 {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    padding: 10px;
}

.contentImg img {
    padding-top: 20px;
    width: 50%;
    height: 200px;
    border-radius: 0 40px 0 40px;
}


.contentImg2 {
    text-align: right;

    img {
        width: 50%;
        height: 200px;
        border-radius: 40px 0px 40px 0px;
    }
}

.CentradoBtn {
    display: flex;
    justify-content: center;
}

.BtnGaleria {
    background-color: black;
    padding: 0.7em;
    font-size: 0.7em;
    border-radius: 20px 0 20px 0;

    a {
        color: white;
        text-decoration: none;
    }
}


// Seccion Horarios

.Horarios {
    h3 {
        text-align: center;
    }

    p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .ImgUno {
        position: absolute;
        left: -30px;
        margin-top: -30px;
        z-index: -1;
        width: 50%;
    }
}

.ContenedorHora {
    border: 1px solid black;
    width: 70%;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 30px;

    h3 {
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }

    p {
        font-size: 20px;
        padding: 2em;
        text-align: center;
    }

    .BtnReservar {
        background-color: black;
        padding: 0.7em;
        font-size: 0.7em;
        border: none;
        margin-bottom: 10px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .ImgDos {
        position: absolute;
        width: 60%;
        // top: 30px;
        margin-top: -20px;
        right: 10px;
        z-index: -1;

    }

    .ImgTres {
        position: absolute;
        left: -30px;
        margin-top: 30px;
        // margin-top: -30px;
        z-index: -1;
        width: 50%;
    }
}

// NewsLetter

.NewsLetter {
    background: url(/assets/birmingham-museums-trust-hcXPIKsC2PM-unsplash-min.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    margin-top: 6em;

    .ContenedorNews {
        text-align: left;

        h4 {
            position: relative;
            color: rgba(255, 255, 255, 0.753);
            top: 40px;
        }

        .LabelEmail {
            display: flex;
            justify-content: center;
            margin-right: 3em;
            position: relative;
            top: 20px;
        }

        #email {
            background-color: rgba(222, 184, 135, 0.726);
            border: none;
        }
    }
}

.FooterMobile {
    margin-top: 2em;

    .ContenedorUno {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        background-color: black;
        padding: 20px;

        .info {
            display: flex;
        }

        .redes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;

            .RedesLogo {
                width: 20px;
                text-align: center;
                height: 40px;
            }

            .IconRedes {
                margin-left: -10px;
            }
        }
    }

    .Creador {
        background-color: black;
        color: white;
        text-align: center;

        a {
            color: tomato;
            text-decoration: none;
        }
    }
}
.FooterWeb{
    display: none;
}


// Galeria Apartado Web

.headerGaleria {
    background: url(/assets/GALERIA.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
}

.GaleriaTitle {
    text-align: center;
    margin-top: 70px;
}


// Apartado Crear Cuenta

.HeaderCuenta {
    background: url(/assets/CUENTA-min.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
}

.HeaderCrearCuenta {
    background: url(/assets/CrearCUENTA-min.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
}

.TitleCuenta {
    text-align: center;
    margin-top: 100px;
}

.ContenedorCuenta {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2.5rem;
    margin: 2rem;

    // width: 300px;
    // text-align: center;
    .LabelGeneral {
        .inputGeneral {
            width: 100%;
            padding: 5px;
            margin-bottom: 20px;
        }

        .inputPw {
            width: 100%;
            padding: 5px;
        }
    }

    .Recuperar {
        color: black;
        text-decoration: none;
        font-size: 11px;
    }

    .Iniciar {
        background-color: black;
        border: none;
        color: white;
        padding: 0.5rem;
        margin-top: 30px;
        margin-bottom: 12px;
        border-radius: 5px;
        margin-left: 20px;
    }

    .Crear {
        background-color: black;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        margin-left: 20px;

        a {
            text-decoration: none;
            color: white;
            padding: 30px;

            &:hover {
                color: rgb(134, 134, 134);
            }
        }
    }

    .CentradoBtn {
        justify-content: center;
        width: 100%;

        .CrearCuenta {
            width: 100%;
            background-color: black;
            border: none;
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
            margin-left: 20px;

            a{
                color: white;
                text-decoration: none;
            }

            .Arrow {
                text-decoration: none;
                color: white;
                padding: 30px;

                &:hover {
                    color: rgb(134, 134, 134);
                }
            }
        }

    }
}

// Apartado Contacto


.HeaderContacto {
    background: url(/assets/CONTACTO-min.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
}

.TitleContacto {
    text-align: center;
    margin-top: 100px;
}

.TitleForm {
    text-align: center;
}

.FormContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 2rem;
    margin: 2rem;

    .EnviarBtn {
        width: 100%;
        background-color: black;
        border: none;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 20px;

        a {
            text-decoration: none;
            color: white;
            padding: 30px;

            &:hover {
                color: tomato;
            }
        }

    }

    .LabelContacto {

        .inputContacto {
            padding: 1px;
            width: 100%;
        }

        .text {
            width: 100%;
        }
    }
}

// Seccion Web Nosotros
.HeaderNosotros {
    background: url(/assets/NOSOTROS-min.jpg);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
}

.TituloMayorNosotros {
    text-align: center;
    margin-top: 100px;
}

.TitleNosotros {
    text-align: center;
}

.ContenedorNosotros {
    width: 100%;
    display: flex;
    flex-direction: column;

    .NosotrosImg {
        padding: 2rem;
        width: 80%;
    }

    .textoNosotros {
        padding: 2rem;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
}

.ContentGaleriaWeb{
    display: none;
}

// Obra

.HeaderObra{
    background-color: black;

    h1{
        display: none;
    }
}
.ObraVolver{
    margin-top: 20px;
    margin-left: 20px;
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        
    }
}
.ContenedorObra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    img{
        width: 60%;
        border-radius: 0 20px 0 20px;
    }
    .ContentObra{ 

        h2{
            font-size: 1.3rem;
            padding: 5px;
        }
        p{
            padding: 10px;
        }
    }
}

//  Media Queries

// ------360px-------
@media (min-width: 360px) {
    figure {
        top: 120px;
        transform: translateY(-600%);
    }

    .ContenedorHora {
        .ImgDos {
            width: 40%;
        }

        .ImgTres {
            margin-top: 10px;
            width: 45%;
        }
    }

    .NewsLetter {
        margin-top: 7em;

        .ContenedorNews h4 {
            font-size: 17px;

            .LabelEmail {
                margin-right: 6em;
            }
        }
    }

    .FormContacto {
        padding: 3rem;
        margin: 3rem;
    }
}

// ---------375px----------

@media (min-width: 375px) {
    h1 {
        margin-top: 20px;
        margin-left: 10px;
    }

    figure {
        top: 120px;
        transform: translateY(-500%);
    }

    .GaleriaTitle {
        margin-top: 100px;
    }

    // ----- Imagenes de fondo en Galeria HomePage-----
    .Horarios {
        .ImgUno {
            width: 40%;
        }

    }

    .ContenedorHora {
        .ImgDos {
            right: 0;
            width: 43%;
            margin-top: -30px;
        }

        .ImgTres {
            margin-top: 0px;
            width: 45%;
        }
    }

    // -----Newsletter----
    .NewsLetter {
        margin-top: 7em;

        .ContenedorNews h4 {
            font-size: 17px;

            .LabelEmail {
                margin-right: 6em;
            }
        }
    }

    .FormContacto {
        padding: 2rem;
        margin: 4rem;
    }
}


// ------ 411px -------
@media (min-width: 411px) {
    figure {
        transform: translateY(-700%);
        margin-top: 40px;
    }

    .ContenedorHora {
        .ImgDos {
            right: 0;
            width: 40%;
            margin-top: -40px;
        }

        .ImgTres {
            width: 40%;
        }
    }

    // -----Newsletter----
    .NewsLetter {
        // margin-top: 8em;

        .ContenedorNews {

            h4 {
                font-size: 20px;

            }

            .LabelEmail {
                margin-right: 6em;
            }
        }
    }

    .FormContacto {
        padding: 3rem;
    }

}

// ------414px-------------
@media (min-width: 414px) {
    h1 {
        margin-top: 30px;
    }

    figure {
        transform: translateY(-700%);
        margin-top: 80px;
    }

    // ----- Imagenes de fondo en Galeria HomePage-----
    .Horarios {
        .ImgUno {
            width: 35%;
            margin-top: 10px;
        }

    }

    .ContenedorHora {
        .ImgDos {
            right: 0;
            width: 40%;
            margin-top: -40px;
        }

        .ImgTres {
            margin-top: -10px;
            width: 40%;
        }
    }

    // -----Newsletter----
    .NewsLetter {
        // margin-top: 8em;

        .ContenedorNews {

            h4 {
                font-size: 20px;

            }

            .LabelEmail {
                margin-right: 6em;
            }
        }
    }

    .GaleriaTitle {
        margin-top: 120px;
    }
}



// ------- 425px----------




@media (min-width: 425px) {
    h1 {
        margin-top: 20px;
    }

    figure {
        transform: translateY(-700%);
        margin-top: 70px;
    }

    // ----- Imagenes de fondo en Galeria HomePage-----
    .Horarios {
        .ImgUno {
            width: 30%;
            margin-top: 10px;
        }

    }

    .ContenedorHora {
        .ImgDos {
            right: 0;
            width: 40%;
            margin-top: -40px;
        }

        .ImgTres {
            margin-top: -10px;
            width: 40%;
        }
    }

    // -----Newsletter----
    .NewsLetter {
        margin-top: 8em;

        .ContenedorNews {

            h4 {
                font-size: 20px;

            }

            .LabelEmail {
                margin-right: 6em;
            }
        }
    }

    .GaleriaTitle {
        margin-top: 120px;
    }

    .FormContacto {
        padding: 4rem;
        margin: 3rem;
    }
}


@media (min-width: 476px) {
    h1 {
        margin-top: 20px;
    }

    figure {
        transform: translateY(-800%);
        margin-top: 100px;
    }

    .ContenedorHora {
        .ImgDos {
            right: 0;
            width: 40%;
            margin-top: -40px;
        }

        .ImgTres {
            margin-top: -30px;
            width: 40%;
        }
    }

    // -----Newsletter----
    .NewsLetter {
        margin-top: 9em;

        .ContenedorNews {

            h4 {
                font-size: 22px;

            }

            #email {
                margin-right: 2em;
                padding: 4px;
            }
        }
    }

    .GaleriaTitle {
        margin-top: 120px;
    }

}

// ------- 768px --------

@media (min-width: 768px) {

    .HeaderInicio,
    .headerGaleria,
    .HeaderNosotros,
    .HeaderCrearCuenta,
    .HeaderCuenta,
    .HeaderContacto {
        height: 75vw;
    }

    h1 {
        font-size: 3rem;
    }

    figure {
        margin-top: 100px;

        figcaption {
            font-size: 2rem;
        }

        .Auguste {
            font-size: 1.5rem;
        }
    }

    // Seccion Galeria Homepage
    .contentImg img {
        height: 250px;
    }

    .contentImg2 img {
        height: 250px;
    }

    .BtnGaleria {
        padding: 0.9em;
        font-size: 0.9em;
    }

    // Seccion Horarios
    .Horarios {
        .ImgUno {
            width: 25%;
            margin-top: -50px;
        }
    }

    .ContenedorHora {

        .BtnReservar {
            padding: 1em;
            font-size: 0.9em;
        }

        .ImgDos {
            width: 25%;
        }

        .ImgTres {
            width: 29%;
            margin-top: -131px;
        }
    }

    .NewsLetter {
        .ContenedorNews {

            h4 {
                font-size: 26px;
                text-align: center;
            }

            .LabelEmail {
                margin-right: 0em;
                top: 40px;
            }
        }
    }

    // Apartado Web Galeria

    .GaleriaTitle,
    .TitleContacto,
    .TitleCuenta,
    .TituloMayorNosotros {
        margin-top: 180px;
    }

    // Apartado Crear Cuenta - Cuenta

    .ContenedorCuenta {
        padding: 1.5rem;
        margin: 5rem;
        align-items: center;

        .Recuperar {
            font-size: 16px;
            margin-top: 15px;
            text-align: center;
            position: relative;
            right: 25px;
        }

        .Iniciar,
        .Crear {
            width: 35%;
            padding: 0.8rem;
            margin-left: 0;
        }

        .LabelGeneral {
            display: flex;
            flex-direction: column;
            align-items: center;

            .inputPw {
                width: 100%;
                padding: 10px;
            }

            .inputGeneral {
                width: 100%;
                padding: 10px;
            }
        }

        .CentradoBtn {
            .CrearCuenta {
                width: 35%;
                margin-left: 0;
                padding: 15px;
            }
        }
    }

    .FormContacto {
        width: 50%;
        margin: auto;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .LabelContacto {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-right: 35px;
        }

        .EnviarBtn {
            margin-left: 0;
            margin-right: 25px;
        }
    }

    .ContenedorNosotros .NosotrosImg {
        width: 90%;
    }

}


@media (min-width: 1024px) {

    .HeaderInicio,
    .headerGaleria,
    .HeaderNosotros,
    .HeaderCrearCuenta,
    .HeaderCuenta,
    .HeaderContacto {
        height: 57vw;
    }
    h1 {
        font-size: 4rem;
    }

    figure {
        margin-top: 90px;
        transform: translateY(-1200%);

        figcaption {
            font-size: 2.5rem;
        }

        .Auguste {
            font-size: 1.7rem;
            margin-right: 30px;
        }
    }

    .container {
        display: none;
    }

    .ContainerWeb {
        z-index: 999;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.055);

        .NavWeb {
            background-color: rgba(0, 0, 0, 0.062);
            ul {
                display: flex;
                justify-content: space-evenly;
                a img{
                    margin-right: 2rem;
                }
                li {
                    display: inline-block;
                    margin-top: 30px;

                    a {
                        text-decoration: none;
                        color: #fcffffc0;
                        text-shadow: 2px 2px 2px black;

                        &:hover {
                            border-bottom: 1px solid rgba(252, 255, 255, 0.753);
                        }
                    }
                }
            }
        }
    }

    .ContenedorImagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .contentImg img {
            width: auto;
            height: 300px;
        }

        .contentImg2 img {
            width: auto;
            height: 300px;
        }
    }
    .ContenedorGaleriaMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .contentImg img {
            width: auto;
            height: 300px;
        }

        .contentImg2 img {
            width: auto;
            height: 300px;
        }
    }

    // Horarios Homepage
    .Horarios {
        .ImgUno {
            width: 16%;
            margin-top: -90px;
        }

        .ContenedorHorarios {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .ContenedorHora {
                margin: 2rem;

                .ImgDos {
                    width: 20%;
                    margin-right: 35rem;
                    margin-top: -48px;
                }

                .ImgTres {
                    width: 16%;
                    margin-top: 103px;
                    margin-left: 40rem;
                }
            }
        }
    }

    .NewsLetter {
        height: 200px;
        .ContenedorNews {

            h4 {
                font-size: 32px;
            }

            #email {
                padding: 8px;
            }
        }
    }

    .FooterMobile {
        display: none;
    }

    .FooterWeb {
        display: block;
        margin-top: 4rem;
        background-color: black;
        padding: 2rem;

        .NavFooter {
            border-bottom: 1px solid white;

            ul {
                display: flex;
                justify-content: space-evenly;

                li {
                    display: inline-block;
                    margin-top: 30px;
                    text-align: center;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }

        }
        .InfoWeb{
            display: flex;
            justify-content: space-evenly;
            margin-top: 1rem;
            p{
                color: white;
            }
        }
        .IconRedesWeb{
            display: flex;
            justify-content: center;
            i{
                color: white;
                font-size: 1.5em;
                margin: 10px;
            }
        }
        .CreadorWeb{
            text-align: center;
            color: white;
            a{
                color: tomato;
                text-decoration: none;
            }
        }
    }

    .FormContacto{
        border: none;
    }
    .ContenedorCuenta {
        border: none;
        .LabelGeneral{

            .inputGeneral{
                width: 250px;
            }
            .inputPw{
                width: 250px;
            }
        }
        .Recuperar{
            right: 60px;
        }
    }

    .ContenedorGaleriaMobile{
        display: none;
    }
    .ContentGaleriaWeb{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto;

        .contentGaleriaWebImg{
            width: 100%;
            align-items: center;
            margin-top: 10px;
            img{
                width: 60%;
                border-radius: 0 20px 0 20px;
            }
        }
    }
    .ContenedorNosotros{
        flex-direction: row;
        .NosotrosImg{
            width: 40%;
        }
        .textoNosotros{
            padding: 9rem;
        }
    }
    .TitleNosotros{
        font-size: 32px;
    }
    .ContenedorObra{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        img{
            width: 40%;
            border-radius: 0;
        }
        .ContentObra{ 
    
            h2{
                font-size: 1.3rem;
                padding: 5px;
            }
            p{
                padding: 10px;
            }
        }
    }

}

@media (min-width: 1280px){
    figure{
        margin-top: 10rem;
    }
    .Horarios {
        .ImgUno{
            width: 13%;
        }
        .ContenedorHorarios{
            .ContenedorHora{
                .ImgDos{
                    width: 20%;
                    margin-right: 45rem;
                }
                .ImgTres{
                    width: 13%;
                    margin-top: 3.7rem;
                    margin-left: 50rem;
                }
            }
        }
    }
    .ContenedorNosotros{
        .NosotrosImg{
            width: 40%;
        }
        .textoNosotros{

            padding: 5rem;
        }
    }
}
@media (min-width: 1360px){
    h1{
        margin-top: 20px;
    }
    figure{
        margin-top: 9rem;
        figcaption{
            font-size: 3rem;
        }
        .Auguste{
            font-size: 2rem;
        }
    }
    .Galeria h2{
        font-size: 32px;
    }
    .Horarios {
        h3{
            font-size: 32px;
        }
        p{
            font-size: 26px;
        }
        .ImgUno{
            width: 14%;
        }
        .ContenedorHorarios{
            .ContenedorHora{

                .ImgDos{
                    margin-right: 48rem;
                }
                .ImgTres{
                    margin-top: 2rem;
                    margin-left: 52rem;  
                }
            }
        }
    }
    .ContenedorNosotros{
        .NosotrosImg{
            width: 39%;
        }
        .textoNosotros{
            padding: 5rem;
        }
    }
}
@media (min-width: 1440px){

    h1{
        margin-top: 20px;
    }

    figure{
        margin-top: 14rem;
        figcaption{
            font-size: 3.2rem;
            margin-left: 5rem;
        }
        .Auguste{
            margin-right: 2.5rem;
        }
    }
    .ContainerWeb{
        .NavWeb{  

            
            ul{

                li{
                    font-size: 26px;
                }
                
            }
        }
    }
    .Horarios{
        h3{
            font-size: 32px;
        }
        p{
            font-size: 22px;
        }
        .ImgUno{
            width: 12%;
            margin-top: -100px;
        }
        .ContenedorHorarios{

            .ContenedorHora{

                .ImgDos{
                    width: 15%;
                    margin-right: 53rem;
                    margin-top: -48px;
                }
                .ImgTres{
                    margin-left: 56rem;
                    margin-top: -19px;
                    width: 15%;
                }
            }
        }
    }
    .NewsLetter {
        .ContenedorNews{
            h4{
                font-size: 36px;
            }
            #email{
                padding: 10px;
            }
        }
    }
}

@media (min-width: 1920px){
    h1{
        font-size: 5rem;
    }
    figure{
        margin-top: 25rem;
        figcaption{
            font-size: 3.5rem;
        }
        .Auguste{
            font-size: 2.5rem
        }
    }
    .Galeria h2{
        font-size: 32px;
    }
    .Horarios {
        

        p{
            font-size: 26px;
        }
        .ImgUno{
            width: 9%;
        }
        .ContenedorHorarios{
            .ContenedorHora {
                .ImgDos{
                    margin-right: 70rem;
                }
                .ImgTres{
                    margin-left: 76rem;
                    width: 11%;
                    margin-top: -10px;
                }
            }
        }
    }
    .ContenedorNosotros{
        .textoNosotros{
            font-size: 22px;
            padding: 5rem;
        }
    }
    
}